---
layout: internal
---

<!-- Intro Section -->
<section class="section workshop-section">
    <div class="row">
        <div class="medium-9 medium-centered columns">

            <header class="text-center">
            	<h1>Danny Beaton</h1>
            	<h3 class="subheader"></h3>
            </header>

            <p class="text-center"><img class="round" width="220" src="{{site.baseurl}}/img/content/danny-pic.jpg" alt="Danny Beaton Photo"></p>

			{{ content }}

			<p class="text-center"><a class="button radius flat depth" href="{{site.baseurl}}/talks/"><i class="icon-hand-o-right"></i> Find out more</a></p>

        </div> <!-- .medium-9 -->
    </div> <!-- .row -->
</section> <!-- .section -->