---
layout: internal
---

<!-- Intro Section -->
<section class="section workshop-section">
    <div class="row">
        <div class="medium-9 medium-centered columns">

            <header class="text-center">
                 <h1>Author Talks</h1>
                <h3 class="subheader">Creative Writing Workshops for Schools</h3>
            </header>

            {{ content }}

            <p class="text-center"><a class="button radius flat depth" href="{{site.baseurl}}/contact/"><i class="icon-hand-o-right"></i> Book a Talk</a></p>

        </div> <!-- .medium-9 -->
    </div> <!-- .row -->
</section> <!-- .section -->