<form id="contact" data-abide novalidate method="post" action="http://liquidvisual.net/dannybeaton.com.au/contact-form/">

	<!-- Name -->
	<div class="row">
		<div class="columns">
			<label><!-- Your name <small>required</small> -->
				<input name="name" class="radius" type="text" placeholder="Your name*">
			</label>
			<small class="error">Your name is required.</small>
		</div>
	</div>

	<!-- Email -->
	<div class="row">
		<div class="columns">
			<label><!-- Email <small>required</small> -->
				<input name="email" class="radius" type="email" placeholder="Email*" required>
			</label>
			<small class="error">A valid email address is required.</small>
		</div>
	</div>

	<!-- Referral -->
	<div class="row">
		<div class="columns">
			<label><!-- Budget <small>required</small> -->
				<select name="referral" class="radius">
					<option disabled selected>How did you find the site?</option>
					<option value="Google">Google</option>
					<option value="Twitter">Twitter</option>
					<option value="Facebook">Facebook</option>
					<option value="Friend">Friend</option>
					<option value="Other">Other</option>
				</select>
			</label>
		</div>
	</div>

	<!-- Message -->
	<div class="row">
		<div class="columns">
			<label><!-- Your message <small>required</small> --></label>
			<textarea rows="10" class="radius" name="message" placeholder="Your message*" required></textarea>
			<small class="error">Please enter a message.</small>
		</div>
	</div>

	<!-- Submit -->
	<div class="row">
		<div class="columns text-center">
			<button type="submit" class="contact-submit radius depth flat button">Send Message</button>
		</div>
	</div>

</form>