<section class="small-only-text-center">
   <div class="row">
      <div class="medium-3 columns">
         <!-- Blog Posts -->
         <h3>Site Map</h3>
         <ul class="large-block-grid-2 no-bullet site-map">
               <li><a href="{{site.baseurl}}/"><i class="fi-home show-for-large-up"></i> Home</a></li>
            {% for item in site.data.settings.primary_navigation %}
               <li><a href="{{ item.url | prepend: site.baseurl }}"><i class="{{item.icon}} show-for-large-up"></i> {{ item.title }}</a></li>
            {% endfor %}
         </ul>
      </div> <!-- .medium-4 -->

      <div class="medium-5 columns">
         <h3>About the Site</h3>
         <p>Welcome to the home of new Australian author Danny Beaton. Please take the time to look around and discover more about the writer and his current and future books.</p>
         <p><a class="big-email" href="mailto:contact@dannybeaton.com.au">contact@dannybeaton.com.au</a></p>
      </div>

      <!-- <div class="medium-4 columns">
         <h3>Signup for our Newsletter</h3>
         <form action="/" method="post">
            <input class="errorX" type="text" name="name" placeholder="Name*" required>
            <input class="errorX" type="text" name="email" placeholder="Email*" required>
            <button class="button expand knockout radius" type="submit" name="submit" value="Send Message">Sure, why not.</button>
         </form>
      </div> -->

      <div class="medium-4 columns">
         <h3>Sign up for the Newsletter</h3>

         <!-- Newsletter Form -->
         <form novalidate id="newsletter-signup" action="http://liquidvisual.net/dannybeaton.com.au/newsletter-signup/" method="post">
            <input name="name" type="text" placeholder="Your name">
            <input name="email" type="email" placeholder="Email">
            <button type="submit" class="newsletter-submit button expand radius depth flat">Sure, why not.</button>
         </form>

      </div>

   </div> <!-- .row -->
</section>

<!-- Legal -->
<section class="legal text-center medium-text-left">
   <div class="row">
      <div class="medium-5 columns">
         <p><b>&copy; 2014</b> - Danny Beaton. All rights reserved.<br>
         <small>Design <a href="http://www.liquidvisual.com">liquidvisual</a></small></p>
      </div> <!-- .medium-5 -->
      <div class="medium-7 columns">
         {% include social_networks.html %}
      </div> <!-- .medium-7 -->
   </div> <!-- .row -->
</section> <!-- .legal -->