<section id="lv-topbar" class="lv-topbar">

    <!-- Logo -->
    <div class="lv-adhoc-overlay show-for-medium-up">
        <div class="row">
            <div class="columns">
                 <a class="lv-adhoc-logo" href="{% if site.baseurl == '' %}/{% else %}{{ site.baseurl }}{% endif %}"><img width="150" src="{{site.baseurl}}/img/content/logo@2x.png" alt="Danny Beaton"></a>
            </div>
        </div>
    </div>

    <!-- Topbar Header -->
    <div class="lv-topbar-header">
        <a href="{% if site.baseurl == '' %}/{% else %}{{ site.baseurl }}{% endif %}" class="lv-logo"><img src="{{site.baseurl}}/img/content/logo@2x.png" alt="Danny Beaton"><span class="lv-logo-text">Danny Beaton</span></a>
        <a href="#" class="lv-menu-icon"><span class="lv-menu-icon-text"></span></a>
        <!-- <a href="#" class="lv-search-icon"></a> -->
    </div> <!-- .lv-topbar-header -->

    <!-- Topbar Body -->
    <div class="lv-topbar-body">
        <ul class="lv-left-for-medium-up">
            <!-- ** Home ** -->
            <!-- <li class="lv-home {% if page.url == "/" %}active{% endif %}"><a href="{% if site.baseurl == '' %}/{% else %}{{ site.baseurl }}{% endif %}"><i class="fi-home"></i></a></li> -->
            <!-- ** Other ** -->
            {% for node in site.data.settings.primary_navigation %}
                <li class="{% if node.url == page.url %}active{% endif %} {% if node.second_level %}has-dropdown{% endif %}">
                    <a href="{{ node.url | prepend: site.baseurl }}">
                        <div class="text-center img-icon show-for-medium-up">
                            <img class="node-icon" width="45" src="{{site.baseurl}}{{node.img_icon}}" alt="Icon">
                        </div>
                    <i class="{{ node.icon }}"></i> {{ node.title }}</a>

                    {% if node.second_level %}
                        <ul class="lv-dropdown">
                            {% for second_level_item in site.data.products %}
                                <li><a href="{{ second_level_item.url | prepend: site.baseurl }}">{{ second_level_item.title }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        <ul class="lv-right-for-medium-up show-for-large-up">
            <li><a class="button radius knockout" href="{{site.baseurl}}/store/">Buy Now</a></li>
        </ul>
    </div> <!-- .lv-topbar-body -->

</section> <!-- .lv-topbar -->