<form data-abide novalidate id="contact" action="http://liquidvisual.net/dannybeaton.com.au/contact-form/index.php" method="post">
	<div class="name-field">
		<label><!-- Your name <small>required</small> -->
			<input name="name" type="text" placeholder="Your name*" required pattern="[a-zA-Z]+">
		</label>
		<small class="error">Name is required and must be a string.</small>
	</div>
	<div class="email-field">
		<label><!-- Email <small>required</small> -->
			<input name="email" type="email" placeholder="Email*" required>
		</label>
		<small class="error">An email address is required.</small>
	</div>
	<div class="phone-field">
		<label><!-- Phone -->
			<input name="phone" type="text" placeholder="Phone (optional)">
		</label>
		<small class="error">Please try again.</small>
	</div>
	<div class="referral-field">
		<label for="customDropdown1"><!-- Budget <small>required</small> -->
			<select name="referral" id="customDropdown1" class="medium">
				<option value="">How did you hear about me?</option>
				<option value="Google">Google</option>
				<option value="Twitter">Twitter</option>
				<option value="Facebook">Facebook</option>
				<option value="Friend">Friend</option>
				<option value="Other">Other</option>
			</select>
		</label>
	</div>

	<div class="row">
		<div class="large-12 columns">
			<label for="remarks"><!-- Your message <small>required</small> --></label>
			<textarea rows="10" id="message" name="message" placeholder="Your message*" required></textarea>
		</div>
	</div>

	<div class="row">
		<div class="large-12 columns">
			<button type="submit" class="button radius depth flat">Send Message</button>
		</div>
	</div>

</form>