<!-- Social Networks  -->
<ul class="social-networks text-center medium-text-right">
    <li class="twitter"><a href="{{ site.data.settings.twitter }}"><i class="icon-twitter"></i></a></li>
   <li class="youtube"><a href="{{ site.data.settings.youtube }}"><i class="icon-youtube"></i></a></li>
   <li class="facebook"><a href="{{ site.data.settings.facebook }}"><i class="icon-facebook"></i></a></li>
   <li class="twitter"><a href="{{ site.data.settings.instagram }}"><i class="icon-instagram"></i></a></li>
</ul>